<a href="https://colab.research.google.com/github/suriyah1310/6G7V0026_2223_9F/blob/main/2nd_Research_Hypothesis_Suriyah(22455939).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1: Installing relevant software & dictionaries:

In [ ]:
!ls

sample_data

In [ ]:
#Setting up Spark and all relevant dictionaries: 
print("\nWelcome to 2nd Research Hypothesis work by Suriyah Uthayakumar (22455939)")
!ls

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://downloads.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar -xf spark-3.3.2-bin-hadoop3.tgz
!ls -alt

Welcome to 2nd Research Hypothesis work by Suriyah Uthayakumar (22455939)
sample_data  spark-3.3.2-bin-hadoop3  spark-3.3.2-bin-hadoop3.tgz
--2023-04-24 18:25:03--  https://downloads.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299360284 (285M) [application/x-gzip]
Saving to: ‘spark-3.3.2-bin-hadoop3.tgz.1’

spark-3.3.2-bin-had 100%[===================>] 285.49M  28.7MB/s    in 11s

2023-04-24 18:25:14 (26.8 MB/s) - ‘spark-3.3.2-bin-hadoop3.tgz.1’ saved [299360284/299360284]

total 584716
drwxr-xr-x  1 root root      4096 Apr 24 18:25 .
drwxr-xr-x  1 root root      4096 Apr 24 18:23 ..
drwxr-xr-x  1 root root      4096 Apr 21 13:38 sample_data
drwxr-xr-x  4 root root      4096 Apr 21 13:37 .config
-rw-r--r--  1 root root 299360284 Feb 10 21:28 spark-3.3.2-bin-hadoop3.tgz
-rw-r--r--  1 root root 299360284 Feb 10 21:28 spark-3.3.2-bin-hadoop3.tgz.1
drwxr-xr-x 13  501 1000      4096 Feb 10 20:40 spark-3.3.2-bin-hadoop3

In [ ]:
!rm spark-3.3.2-bin-hadoop3.tgz.1

In [ ]:
!ls

sample_data  spark-3.3.2-bin-hadoop3  spark-3.3.2-bin-hadoop3.tgz

In [ ]:
#installing findspark 
!pip3 install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext
# Spark is started. 2 cores used:
spark_conf = SparkConf().setMaster('local[2]').setAppName('MyApp')
sc = SparkContext(conf=spark_conf)
# Importing pyspark SQL for queries: 
from pyspark.sql import *
from pyspark.sql.functions import *

# Spark Session is started: 
# "SparkSession" and "sc" are key handles in to Spark API
##SparkSession.builder.getOrCreate()
spark = SparkSession.builder.appName("bikes2").getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Section 2: Upload of datasets (TFL & Glasgow):

In [ ]:
# TFL open data for the year 2017-2021 London bike hire file is downloaded:

#2017
!wget https://cycling.data.tfl.gov.uk/usage-stats/63JourneyDataExtract21Jun2017-27Jun2017.csv

In [ ]:
!wget https://cycling.data.tfl.gov.uk/usage-stats/64JourneyDataExtract28Jun2017-04Jul2017.csv https://cycling.data.tfl.gov.uk/usage-stats/65JourneyDataExtract05Jul2017-11Jul2017.csv https://cycling.data.tfl.gov.uk/usage-stats/66JourneyDataExtract12Jul2017-18Jul2017.csv https://cycling.data.tfl.gov.uk/usage-stats/67JourneyDataExtract19Jul2017-25Jul2017.csv https://cycling.data.tfl.gov.uk/usage-stats/68JourneyDataExtract26Jul2017-31Jul2017.csv https://cycling.data.tfl.gov.uk/usage-stats/69JourneyDataExtract01Aug2017-07Aug2017.csv https://cycling.data.tfl.gov.uk/usage-stats/70JourneyDataExtract08Aug2017-14Aug2017.csv https://cycling.data.tfl.gov.uk/usage-stats/71JourneyDataExtract15Aug2017-22Aug2017.csv https://cycling.data.tfl.gov.uk/usage-stats/72JourneyDataExtract23Aug2017-29Aug2017.csv https://cycling.data.tfl.gov.uk/usage-stats/73JourneyDataExtract30Aug2017-05Sep2017.csv https://cycling.data.tfl.gov.uk/usage-stats/74JourneyDataExtract06Sep2017-12Sep2017.csv https://cycling.data.tfl.gov.uk/usage-stats/75JourneyDataExtract13Sep2017-19Sep2017.csv https://cycling.data.tfl.gov.uk/usage-stats/76JourneyDataExtract20Sep2017-26Sep2017.csv

In [ ]:
#2018 data: 
!wget https://cycling.data.tfl.gov.uk/usage-stats/115JourneyDataExtract20June2018-26June2018.csv https://cycling.data.tfl.gov.uk/usage-stats/116JourneyDataExtract27June2018-03July2018.csv https://cycling.data.tfl.gov.uk/usage-stats/117JourneyDataExtract04July2018-10July2018.csv https://cycling.data.tfl.gov.uk/usage-stats/118JourneyDataExtract11July2018-17July2018.csv https://cycling.data.tfl.gov.uk/usage-stats/119JourneyDataExtract18July2018-24July2018.csv https://cycling.data.tfl.gov.uk/usage-stats/120JourneyDataExtract25July2018-31July2018.csv https://cycling.data.tfl.gov.uk/usage-stats/121JourneyDataExtract01Aug2018-07Aug2018.csv https://cycling.data.tfl.gov.uk/usage-stats/122JourneyDataExtract08Aug2018-14Aug2018.csv https://cycling.data.tfl.gov.uk/usage-stats/123JourneyDataExtract15Aug2018-21Aug2018.csv https://cycling.data.tfl.gov.uk/usage-stats/124JourneyDataExtract22Aug2018-28Aug2018.csv https://cycling.data.tfl.gov.uk/usage-stats/125JourneyDataExtract29Aug2018-04Sep2018.csv https://cycling.data.tfl.gov.uk/usage-stats/126JourneyDataExtract05Sep2018-11Sep2018.csv https://cycling.data.tfl.gov.uk/usage-stats/127JourneyDataExtract12Sep2018-18Sep2018.csv https://cycling.data.tfl.gov.uk/usage-stats/128JourneyDataExtract19Sep2018-25Sep2018.csv

In [ ]:
#2019 data:
!wget https://cycling.data.tfl.gov.uk/usage-stats/167JourneyDataExtract19Jun2019-25Jun2019.csv https://cycling.data.tfl.gov.uk/usage-stats/168JourneyDataExtract26Jun2019-02Jul2019.csv https://cycling.data.tfl.gov.uk/usage-stats/169JourneyDataExtract03Jul2019-09Jul2019.csv https://cycling.data.tfl.gov.uk/usage-stats/170JourneyDataExtract10Jul2019-16Jul2019.csv https://cycling.data.tfl.gov.uk/usage-stats/171JourneyDataExtract17Jul2019-23Jul2019.csv https://cycling.data.tfl.gov.uk/usage-stats/172JourneyDataExtract24Jul2019-30Jul2019.csv https://cycling.data.tfl.gov.uk/usage-stats/173JourneyDataExtract31Jul2019-06Aug2019.csv https://cycling.data.tfl.gov.uk/usage-stats/174JourneyDataExtract07Aug2019-13Aug2019.csv https://cycling.data.tfl.gov.uk/usage-stats/175JourneyDataExtract14Aug2019-20Aug2019.csv https://cycling.data.tfl.gov.uk/usage-stats/176JourneyDataExtract21Aug2019-27Aug2019.csv https://cycling.data.tfl.gov.uk/usage-stats/177JourneyDataExtract28Aug2019-03Sep2019.csv https://cycling.data.tfl.gov.uk/usage-stats/178JourneyDataExtract04Sep2019-10Sep2019.csv https://cycling.data.tfl.gov.uk/usage-stats/179JourneyDataExtract11Sep2019-17Sep2019.csv https://cycling.data.tfl.gov.uk/usage-stats/180JourneyDataExtract18Sep2019-24Sep2019.csv

In [ ]:
#2020 data: 
!wget https://cycling.data.tfl.gov.uk/usage-stats/219JourneyDataExtract17Jun2020-23Jun2020.csv https://cycling.data.tfl.gov.uk/usage-stats/220JourneyDataExtract24Jun2020-30Jun2020.csv https://cycling.data.tfl.gov.uk/usage-stats/221JourneyDataExtract01Jul2020-07Jul2020.csv https://cycling.data.tfl.gov.uk/usage-stats/222JourneyDataExtract08Jul2020-14Jul2020.csv https://cycling.data.tfl.gov.uk/usage-stats/223JourneyDataExtract15Jul2020-21Jul2020.csv https://cycling.data.tfl.gov.uk/usage-stats/224JourneyDataExtract22Jul2020-28Jul2020.csv https://cycling.data.tfl.gov.uk/usage-stats/225JourneyDataExtract29Jul2020-04Aug2020.csv https://cycling.data.tfl.gov.uk/usage-stats/226JourneyDataExtract05Aug2020-11Aug2020.csv https://cycling.data.tfl.gov.uk/usage-stats/227JourneyDataExtract12Aug2020-18Aug2020.csv https://cycling.data.tfl.gov.uk/usage-stats/228JourneyDataExtract19Aug2020-25Aug2020.csv https://cycling.data.tfl.gov.uk/usage-stats/229JourneyDataExtract26Aug2020-01Sep2020.csv https://cycling.data.tfl.gov.uk/usage-stats/230JourneyDataExtract02Sep2020-08Sep2020.csv https://cycling.data.tfl.gov.uk/usage-stats/231JourneyDataExtract09Sep2020-15Sep2020.csv https://cycling.data.tfl.gov.uk/usage-stats/232JourneyDataExtract16Sep2020-22Sep2020.csv

In [ ]:
#2021 data: 
!wget https://cycling.data.tfl.gov.uk/usage-stats/270JourneyDataExtract16Jun2021-22Jun2021.csv https://cycling.data.tfl.gov.uk/usage-stats/271JourneyDataExtract23Jun2021-29Jun2021.csv https://cycling.data.tfl.gov.uk/usage-stats/272JourneyDataExtract30Jun2021-06Jul2021.csv https://cycling.data.tfl.gov.uk/usage-stats/273JourneyDataExtract07Jul2021-13Jul2021.csv https://cycling.data.tfl.gov.uk/usage-stats/274JourneyDataExtract14Jul2021-20Jul2021.csv https://cycling.data.tfl.gov.uk/usage-stats/275JourneyDataExtract21Jul2021-27Jul2021.csv https://cycling.data.tfl.gov.uk/usage-stats/276JourneyDataExtract28Jul2021-03Aug2021.csv https://cycling.data.tfl.gov.uk/usage-stats/277JourneyDataExtract04Aug2021-10Aug2021.csv https://cycling.data.tfl.gov.uk/usage-stats/278JourneyDataExtract11Aug2021-17Aug2021.csv https://cycling.data.tfl.gov.uk/usage-stats/279JourneyDataExtract18Aug2021-24Aug2021.csv https://cycling.data.tfl.gov.uk/usage-stats/280JourneyDataExtract25Aug2021-31Aug2021.csv https://cycling.data.tfl.gov.uk/usage-stats/281JourneyDataExtract01Sep2021-07Sep2021.csv https://cycling.data.tfl.gov.uk/usage-stats/282JourneyDataExtract08Sep2021-14Sep2021.csv https://cycling.data.tfl.gov.uk/usage-stats/283JourneyDataExtract15Sep2021-21Sep2021.csv https://cycling.data.tfl.gov.uk/usage-stats/284JourneyDataExtract22Sep2021-28Sep2021.csv

In [ ]:
#Uploading 2nd dataset (Glasglow Next Bike Cycle Hire's data) of the year 2017-2022. 
#Since this file did not have an online link, the file is uploaded into colab.  

from google.colab import files
uploaded = files.upload()

Saving Next_Bike_Cycle_Hire_Glasgow_Trip_Data_(2017-2022).csv to Next_Bike_Cycle_Hire_Glasgow_Trip_Data_(2017-2022).csv

# The Second Research Hypothesis:
 ## “Between 5 years (2017-2021) period, the trend of cycle usage during Summer is more in London compared to Glasgow”

# Section 3: Filtering required Data:

## Defining Summer: a) London

In [ ]:
# According to (metoffice.gov.uk), Summer is defined between the period 21st June - 23 Sep. 

# The London (TFL) data for the above mentioned 5 years is present in the following different files namely, 
# 2017 - 63* - 76* (14 files)
# 2018 - 115* - 128* (14 files)
# 2019 - 167* - 180* (14 files)
# 2020 - 219* - 232* (13 files)
# 2021 - 270* - 284* (14 files)

In [28]:
# Reading these files into a new dataframe called london1721_df


london1721_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load(['./1*csv', './2*csv', './6*csv', './7*csv' ]))

In [30]:
print("The London dataset (5 years) dataframe has", london1721_df.count(), " entries")

The London dataset (5 years) dataframe has 17900251  entries

In [31]:
# Printing the schema to check the column details: 

london1721_df.printSchema()

root
 |-- Rental Id: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Bike Id: string (nullable = true)
 |-- End Date: string (nullable = true)
 |-- EndStation Id: string (nullable = true)
 |-- EndStation Name: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- StartStation Id: string (nullable = true)
 |-- StartStation Name: string (nullable = true)

In [32]:
london1721_df.show(2)

+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
|Rental Id|Duration|Bike Id|        End Date|EndStation Id|     EndStation Name|      Start Date|StartStation Id|   StartStation Name|
+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
|102217368|     600|   6998|22/09/2020 14:01|          318|Sackville Street,...|22/09/2020 13:51|            303|Albert Gate, Hyde...|
|102217345|     660|    882|22/09/2020 14:01|           66|Holborn Circus, H...|22/09/2020 13:50|            263|St. Mary Axe, Ald...|
+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
only showing top 2 rows

In [35]:
# This london1721 data has some unwanted dates i.e, we need only the dates between 21 June - 23 Sep which is "Summer" for all the 5 years: 

#Cleansing year-wise & formaing a union of all years put together in a dataframe named "summer_london"

# conversion to expected timestamp format so can filter, and alias so easily refer to 'Start'
#2017:
temp_2017_df = london1721_df.select(to_timestamp(col("Start Date"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration", "Bike Id")
#2018:
temp_2018_df = london1721_df.select(to_timestamp(col("Start Date"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration", "Bike Id")
#2019:
temp_2019_df = london1721_df.select(to_timestamp(col("Start Date"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration", "Bike Id")
#2020:
temp_2020_df = london1721_df.select(to_timestamp(col("Start Date"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration", "Bike Id")
#2021:
temp_2021_df = london1721_df.select(to_timestamp(col("Start Date"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration", "Bike Id")

# Firstly, filtering 2017 data to the required dates (21 JUNE 2017 - 23 SEP 2017)

summer_2017_london_df = temp_2017_df.filter(temp_2017_df.Start > "2017-06-20 23:59:59")\
.filter(temp_2017_df.Start < "2017-09-24 00:00:00")[["Start", "Duration", "Bike Id"]]

# Checking whether filtered correctly;
summer_2017_london_df.sort("Start", ascending = True).show(5)
summer_2017_london_df.sort("Start", ascending = False).show(5)

+-------------------+--------+-------+
|              Start|Duration|Bike Id|
+-------------------+--------+-------+
|2017-06-21 00:00:00|    1800|   3304|
|2017-06-21 00:00:00|    1320|  12498|
|2017-06-21 00:00:00|    1800|  12845|
|2017-06-21 00:00:00|     420|   5801|
|2017-06-21 00:00:00|     360|   6242|
+-------------------+--------+-------+
only showing top 5 rows

+-------------------+--------+-------+
|              Start|Duration|Bike Id|
+-------------------+--------+-------+
|2017-09-23 23:59:00|    2760|   1185|
|2017-09-23 23:59:00|     540|   8191|
|2017-09-23 23:59:00|    1440|  14130|
|2017-09-23 23:59:00|     840|   2575|
|2017-09-23 23:59:00|    2700|   7797|
+-------------------+--------+-------+
only showing top 5 rows

In [37]:
# Now the summer_2017_london has the exact dates of Summer 2017. 
# Let's get the same for the rest of the years. 

summer_2018_london_df = temp_2018_df.filter(temp_2018_df.Start > "2018-06-20 23:59:59")\
.filter(temp_2018_df.Start < "2018-09-24 00:00:00")[["Start", "Duration", "Bike Id"]]

summer_2019_london_df = temp_2019_df.filter(temp_2019_df.Start > "2019-06-20 23:59:59")\
.filter(temp_2019_df.Start < "2019-09-24 00:00:00")[["Start", "Duration", "Bike Id"]]

summer_2020_london_df = temp_2020_df.filter(temp_2020_df.Start > "2020-06-20 23:59:59")\
.filter(temp_2020_df.Start < "2020-09-24 00:00:00")[["Start", "Duration", "Bike Id"]]

summer_2021_london_df = temp_2021_df.filter(temp_2021_df.Start > "2021-06-20 23:59:59")\
.filter(temp_2021_df.Start < "2021-09-24 00:00:00")[["Start", "Duration", "Bike Id"]]

In [38]:
# Union of all years put together in a dataframe named "summer_london"

summer_london_df = summer_2017_london_df.union(summer_2018_london_df)\
.union(summer_2019_london_df).union(summer_2020_london_df)\
.union(summer_2021_london_df)

In [39]:
summer_london_df.count()

17089781

## Defining Summer: b) Glasgow

In [40]:
# The Next Bike cycle hire's Glasgow dataset has entire rides data that has happened between 2017-2022.
# But the specific dates of interest are: (21 June - 23 Sep) for the years 2017 - 2021. 

# Firslty, reading this entire dataset into a new dataframe called glasgow1722_df


glasgow1722_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load(['./Next*csv' ]))

In [41]:
print("The Entire Glasgow dataset (6 years) dataframe has", glasgow1722_df.count(), " entries")

The Entire Glasgow dataset (6 years) dataframe has 1419993  entries

In [42]:
# Printing the schema to check the column details: 

glasgow1722_df.printSchema()

root
 |-- Start time: timestamp (nullable = true)
 |-- End time: timestamp (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- Rental place: string (nullable = true)
 |-- Return place: string (nullable = true)
 |-- START LAT: string (nullable = true)
 |-- START LONG: string (nullable = true)
 |-- END LAT: double (nullable = true)
 |-- END LONG: double (nullable = true)

In [44]:
# This Glasgow data has some unwanted dates i.e, we need only the dates between 21 June - 23 Sep which is 
# "Summer" for all the 5 years only (2017-2021): 

# Cleansing year-wise & formaing a union of all years put together in a dataframe named "summer_glasgow"

# conversion to expected timestamp format so can filter, and alias so easily refer to 'Start'
#2017:
g_2017_df = glasgow1722_df.select(to_timestamp(col("Start time"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration")
#2018:
g_2018_df = glasgow1722_df.select(to_timestamp(col("Start time"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration")
#2019:
g_2019_df = glasgow1722_df.select(to_timestamp(col("Start time"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration")
#2020:
g_2020_df = glasgow1722_df.select(to_timestamp(col("Start time"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration")
#2021:
g_2021_df = glasgow1722_df.select(to_timestamp(col("Start time"), format="dd/MM/yyyy HH:mm").alias("Start"), "Duration")

# Filtering all the years to the required dates (21 JUNE 2017 - 23 SEP 2017)

summer_2017_gg_df = g_2017_df.filter(g_2017_df.Start > "2017-06-20 23:59:59")\
.filter(g_2017_df.Start < "2017-09-24 00:00:00")[["Start", "Duration"]]

summer_2018_gg_df = g_2018_df.filter(g_2018_df.Start > "2018-06-20 23:59:59")\
.filter(g_2018_df.Start < "2018-09-24 00:00:00")[["Start", "Duration"]]

summer_2019_gg_df = g_2019_df.filter(g_2019_df.Start > "2019-06-20 23:59:59")\
.filter(g_2019_df.Start < "2019-09-24 00:00:00")[["Start", "Duration"]]

summer_2020_gg_df = g_2020_df.filter(g_2020_df.Start > "2020-06-20 23:59:59")\
.filter(g_2020_df.Start < "2020-09-24 00:00:00")[["Start", "Duration"]]

summer_2021_gg_df = g_2021_df.filter(g_2021_df.Start > "2021-06-20 23:59:59")\
.filter(g_2021_df.Start < "2021-09-24 00:00:00")[["Start", "Duration"]]

In [47]:
# Union of all years put together in a dataframe named "summer_gg" gives the Glasgow Summer data for 5 years

summer_gg_df = summer_2017_gg_df.union(summer_2018_gg_df)\
              .union(summer_2019_gg_df).union(summer_2020_gg_df)\
              .union(summer_2021_gg_df)

print("After data cleaning, the only Summer data of the years 2017-2021 Glasgow dataset has: " , summer_gg_df.count() , "entries")

After data cleaning, the only Summer data of the years 2017-2021 Glasgow dataset has:  332505 entries

# Section 4: Stratified Sampling:

In [ ]:
# Taking stratified statistical sampling method to attain data from all the 5 years: 
# i.e, 2017(1%), 2018(1%), 2019(1%), 2020(1%), 2021(1%)

In [52]:
# Extracting Year from date format column:

In [53]:
import pyspark.sql.functions as f

In [55]:
#Using to_timestamp api of functions package to extract years from the data and stored in a new column 'years'

london_year_df = summer_london_df.withColumn('years',f.year(f.to_timestamp('Start', 'dd/MM/yyyy')))

In [58]:
#Checking if it worked all well: 
london_year_df.sort("Start", ascending = False).show(5)

+-------------------+--------+-------+-----+
|              Start|Duration|Bike Id|years|
+-------------------+--------+-------+-----+
|2021-09-23 23:59:00|     840|  16767| 2021|
|2021-09-23 23:59:00|     720|   8392| 2021|
|2021-09-23 23:59:00|    1380|  13121| 2021|
|2021-09-23 23:59:00|    1800|   6934| 2021|
|2021-09-23 23:59:00|     240|  20232| 2021|
+-------------------+--------+-------+-----+
only showing top 5 rows

In [59]:
# Now, stratified statistical sampling by each year (1%) from the whole london data: 

london_sample_df = london_year_df.sampleBy("years", fractions={2017: 0.01, 2018: 0.01, 2019: 0.01, 2020: 0.01, 2021: 0.01 }, seed=10)
london_sample_df.count()

170516

In [61]:
#Using to_timestamp api of functions package to extract years from the data and stored in a new column 'years'

gg_year_df = summer_gg_df.withColumn('years',f.year(f.to_timestamp('Start', 'dd/MM/yyyy')))

#Checking if it worked all well: 
gg_year_df.sort("Start", ascending = False).show(2)

+-------------------+--------+-----+
|              Start|Duration|years|
+-------------------+--------+-----+
|2021-09-23 23:58:00|     819| 2021|
|2021-09-23 23:58:00|     225| 2021|
+-------------------+--------+-----+
only showing top 2 rows

In [64]:
# Now, stratified statistical sampling by each year (50%) from the whole glasgow data: 
# Since the overall glasgow data is only around 3M but the london whole data has about 17M, 
# inorder to get similar amount of sample 50% is taken here and 1% at london data. 

gg_sample_df = gg_year_df.sampleBy("years", fractions={2017: 0.5, 2018: 0.5, 2019: 0.5, 2020: 0.5, 2021: 0.5 }, seed=10)
gg_sample_df.count()

166529

In [65]:
london_sample_df.printSchema()
gg_sample_df.printSchema()

root
 |-- Start: timestamp (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Bike Id: string (nullable = true)
 |-- years: integer (nullable = true)

root
 |-- Start: timestamp (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- years: integer (nullable = true)

In [67]:
#Since the london data's Duration column is string, changing it to integer 

from pyspark.sql.types import *

# Change column type
ln_sample_df = london_sample_df.withColumn("Duration", london_sample_df["Duration"].cast(IntegerType()))
ln_sample_df.printSchema()
ln_sample_df.select("Duration").show(2)

root
 |-- Start: timestamp (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- Bike Id: string (nullable = true)
 |-- years: integer (nullable = true)

+--------+
|Duration|
+--------+
|     780|
|   11400|
+--------+
only showing top 2 rows

# Section 5: Finding the trend: